<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
    <h2 th:text="#{ownersList}">List of Pet Owners</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th th:text="#{id}">Id</th>
                <th th:text="#{firstName}">First name</th>
                <th th:text="#{lastName}">Last name</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">5</td>
            <td th:text="${owner.firstName}">Bob</td>
            <td th:text="${owner.lastName}">Last</td>
        </tr>
        </tbody>
    </table>
</body>
</html>